#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

/* Page header (container with links and opening hours) styles  */

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Links to other pages ORDER and BOOKING */
.pages-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: $color-light;

  .order,
  .booking {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .element-body {
    position: absolute;
    cursor: pointer;
    text-align: center;
    width: 300px;
    height: 115px;
    z-index: 1;
    overflow: hidden;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      text-transform: uppercase;
      margin: 0;
      transition: .4s linear;
    }

    .element-description {
      display: block;
      position: absolute;
      width: 300px;
      top: 100%;
      transition: .4s linear;
    }

    a {
      color: $color-light;
    }

  }

  img {
    width: 300px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px;
  }

  .element-body:hover{
    h1{
      top: 30%;
    }

    .element-description {
      top: 50%;
    }
  }
}

/* Div with restaurant opening hours*/

.opening-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-main;
  text-transform: uppercase;
  color: $color-light;
  border-radius: 5px;
  margin-top: 5px;

  .content{
    margin: 18px;

    h1{
      margin: 0;
    }
  }
}


/* Carousel styles */

.main-carousel {
  margin: 100px auto 100px auto;

  .carousel-cell{
    width: 100%;
    height: 200px;
    margin-right: 10px;
  }

  .carousel-element{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-right: 50px;
      border-radius: 5px;
    }

    .opinion {
      h3 {
        text-transform: uppercase;
      }

      .author {
        font-style: italic;
      }
    }
  }
}


/* Gallery styles */
.gallery{
  .gallery-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .gallery-element{
      position: relative;
      width: 200px;
      height: 200px;

      .photo {
        position: relative;
        width: 200px;
        height: 200px;
        padding: 5px;

      }

      .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .photo::after{
        content: '';
        width: 190px;
        height: 190px;
        margin: 5px;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background: $color-dark;
        opacity: 0;
        transition: .5s all;
      }

      .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        opacity: 0;
        cursor: pointer;
        transition: .5s all;
        color: $color-light;
      }

      .icons .fas {
        margin: 5px;
        transition: .3s all;
      }

    }
  }

  .gallery-element:hover .photo::after{
    opacity: .5;
  }

  .gallery-element:hover .icons {
    opacity: 1;
  }

  .icons .fas:hover {
    color: $color-main;
  }

  a {
    color: $color-main;
    margin: 5px;
  }
}

